<!DOCTYPE html>
<html>
    <head>
        <title>list</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link rel="stylesheet" type="text/css" href="/stylesheets/list.css" />
    </head>
    <body>
        <h1>list(只能访问自己)</h1>
        <div id="content">
            <p>UserName:<%= name %></p>
            <p>StudentId:<%= id %></p>
            <p>Telephone:<%= tel %></p>
            <p>Email:<%= email %></p>
            <p></p>
        </div>
        <button id="return" onclick="window.location='/logout'">return</button>
    </body>
</html>
